body{
    width:100%;
    height:100%;
}
p.intro {
    color:aliceblue;
}
h1 {
    color:aliceblue;
}

.name {
    background-color: dodgerblue;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:50px;
}

.uno {
background-color: deepskyblue !important;
}

.due {
    background-color: deepskyblue !important;
}

.tre {
    background-color: deepskyblue !important;
}

.card {
    border-radius: 5px;
}

.card-button:hover {
    background-color: darkblue;
}
.drop:hover{
    background-color: darkslategray;
    color:white;
}
